.blog {
    border: 1px solid #eeeeee;
    padding: 1rem 0;
}

.blog .blog-header{
    padding: 0 2rem 1rem 2rem;
}

.blog .blog-header h5{
    margin: 0;
}

.blog .blog-body{

    border-top: 1px solid #eeee;
    padding: 1rem 2rem;
    font-size: + 0.9rem;
}


.blog  .blog-body .blog-description{

}

.blog .blog-body .blog-description a{
}







































































































































