$primary-color : #000000c9;
$font-size: 1.7vh;

.breadcrumbs{
    margin-top: 1rem;
    padding-left: 0;
    font-size: $font-size;
}
.breadcrumbs li{
    display: inline;
    font-weight: 500;
    font-size: .9rem;
}

.breadcrumbs li a {
    text-decoration: none;
    color: $primary-color;
}

.breadcrumbs li i{
    font-size: .5rem;
    color: #444;
    margin: 0 .5rem;
}

