$primary-color: #cd5b7c;
$shadow-color: #d5d5d5;

html,body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus{
    box-shadow: #6a1a21 !important;
}

.content{
    flex: 1;
    background-color: #fafafa73;
    margin-bottom: 5rem;
}

a{
    text-decoration: none !important;
}

h4,h5,h6{
    color: $primary-color;
}

@font-face {
    font-display: swap
}

.w-100{
    width: 100% !important;
}

.pr0{padding-right: 0 !important;}
.pl0{padding-left: 0 !important;}

.mt1{
    margin-top: 1rem !important;
}
.mt2{
    margin-top: 2rem !important;
}
.mt5{
    margin-top: 5rem !important;
}

.mr1{margin-right: 1rem !important;}

.ml1{margin-left: 1rem !important;}

.mb1{margin-bottom: 1rem !important;}
.mb2{margin-bottom: 2rem !important;}

.title-main{
    color: $primary-color;
    font-size: 2.5vh;
}

.font-small{
    font-size: 1.4vh;
}

.btn{
    background-color: $primary-color;
    color: white;
}

input:active{
    border: none;
}
input:focus{
    border: none;
    outline: none;
}

textarea:focus{
    box-shadow: 0 0 3px $shadow-color !important;
}

textarea{
    padding: 1vh 2vh !important;
}

.primary-button{
    background-color: $primary-color !important;
    color: white !important;;
    font-weight: 500 !important;
    font-size: 1.6vh !important;
    font-size: 1rem !important;
}

.secondary-button{
    background-color: white !important;
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
    font-weight: 500 !important;
    font-size: 1.6vh !important;
    font-size: 1rem !important;
}

.color-primary{
    color: $primary-color !important;
}

::-webkit-scrollbar {
    display: none;
}

.bolded{font-weight: bold !important}

.form-control{
    border: none!important;
    box-shadow: 0 0 3px $shadow-color !important;
}

.form-group .form-control{
    margin-top: 10px;
}

.sticker{
    height: auto;
    border-radius: 15px;
}

.sticker .sticker-text{
    text-align: center;
    margin-top: 2vh;
    font-weight: 500;
    color: #1c1c1c;
}

.sticker .sticker-icon{
    font-size: 3rem;
    background: #ffff;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

.category-stickers{
    border: solid #d5d5d5;
    border-width: 0px 0 1px 0;
    margin: 0 auto 2rem auto;
    padding: 0 10rem 1rem 10rem;
}
.category-sticker{
    border-radius: 3vh;
    border: 2px solid $primary-color;
    padding: 10px;
}

.category-sticker img{
    height: 3.5vh;
    width: 100%;
}

.category-stickers span{
    -webkit-text-stroke: thin;
    text-align: center;
    display: block;
}
