$primary-color: #cd5b7c;

.mt1{
    margin-top: 1rem !important;
}
.mt2{
    margin-top: 2rem !important;
}

.mb2{
    margin-bottom: 2rem;
}

.title-main{
    color: $primary-color;
}

.btn{
    background-color: $primary-color;
    color: white;
}

input:active{
    border: none;
}
input:focus{
    border: none;
    outline: none;
}

.primary-button{
    background-color: $primary-color !important;
    color: white !important;;
    font-weight: 500 !important;
}

.color-primary{
    color: $primary-color;
}
