$primary-color: #cd5b7c;

html,body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus{
    box-shadow: #6a1a21 !important;
}

.content{
    flex: 1;
}

@font-face {
    font-display: swap
}

.pr0{padding-right: 0 !important;}
.pl0{padding-left: 0 !important;}

.mt1{
    margin-top: 1rem !important;
}
.mt2{
    margin-top: 2rem !important;
}
.mt5{
    margin-top: 5rem !important;
}

.mr1{margin-right: 1rem !important;}


.mb2{
    margin-bottom: 2rem;
}

.title-main{
    color: $primary-color;
    font-size: 2.5vh;
}

.btn{
    background-color: $primary-color;
    color: white;
}

input:active{
    border: none;
}
input:focus{
    border: none;
    outline: none;
}

.primary-button{
    background-color: $primary-color !important;
    color: white !important;;
    font-weight: 500 !important;
    font-size: 1.6vh !important;
    font-size: 1rem !important;
}

.color-primary{
    color: $primary-color;
}

::-webkit-scrollbar {
    display: none;
}

.bolded{font-weight: bold}
