$primary-color: #a36879;

.nav-bar{
    color: $primary-color;

}

.nav-bar img{
    width: 100%;
    height: auto;
}

.nav-bar .nav-bar-search{
    position: relative;
}

.nav-bar .nav-bar-search input{
    width: 100%;
}

.nav-bar .nav-bar-search .search-button{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $primary-color;
    color: white;
}