$primary-color: #a36879;
$primary-color-hover: #cd5b7c;
$shadow-color: #d5d5d5;
.product{
    padding: 8px;
    box-shadow: 0 0 3px $shadow-color;
    font-family: 'Nunito';
    transition: .5s;
}

.product:hover{
    box-shadow: 0 0 10px 2px $shadow-color;
    transition: .5s;

    .product .product-summary .sale-button{
        display: block;
    }
}

.product .product-image img{
    width: 100%;
    height: auto;
}

.product .product-title{
    text-align: center;
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: 0.05rem;
    line-height: 3rem;
}

.product .product-summary{
    border-top: 1px dotted $shadow-color;
    padding: 8px 0;
}

.product .product-price{
    text-align: center;
    color: $primary-color;
    font-weight: 500;
}

.product .product-summary .sale-button{
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    /* display: none; */
    text-align: center;
    margin: .1rem auto;
    width: 100%;
    transition: .5s;
}

.product .product-summary .sale-button:hover{
    background-color: $primary-color-hover;
    border-radius: 10px;
    transition: .5s;
}

/* FILTERS */

.product-filter{

}
