$shadow-color: #d5d5d5;

.reviews{

}

.review{
    box-shadow: 0 0 6px $shadow-color;
    font-family: 'Nunito';
    transition: .2s;
    border-radius: 1.3vh;
    padding: 1.5vh;
}

.review:hover{
    box-shadow: 0 0 10px 2px $shadow-color;
    transition: .2s;

    .review .review-summary .review-button{
        display: block;
    }
}

.review .review-image img{
    width: auto;
    height: 8vh;
}

.review .review-title{
    font-weight: 400;
    font-size: 1.25vh !important;
    letter-spacing: 0.05rem;
    line-height: 3rem;
}

.review .review-button{
    font-size: 1.25vh !important;
}