$primary-color: #cd5b7c;
$seconday-color: #5df1de;

.alert-bar{
    position: fixed;
    top: 20%;
    right: -20%;
    width: fit-content;
    height: fit-content;
    color: $primary-color;
    font-weight: 500;
    box-shadow: 0 0 3px 1px $primary-color;
    padding: 0 15px;
    transition: 1s;
}

.alert-bar i{
    color: $seconday-color;
    margin-right: 1rem;
}

.alert-bar-fade{
    right: 0%;
    transition: 1s;
}
.alert-bar-scrolled{
    top: 10%;
}
