$small: 900px;

.counter{display: contents;}
.counter span {cursor:pointer;}

@media screen and (min-width: $small) {

    .counter .minus, .plus {
        width: 5vh;
        height: 4vh;
        padding: 0.375rem;
        background: #cd5b7c;
        border-radius: 4px;
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: #fff;
    }

    .counter input {
        height: 4vh;
        width: 5vh;
        padding: 0.375rem;
        text-align: center;
        font-size: 1.6vh;
        border: none;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
    }
}
