$primary-color: #cd5b7c;

.star-wrapper {
    float: left;
    direction: rtl;
}
.star-wrapper a {
    font-size: 2em;
    color: #4444;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}
.star-wrapper a:hover {
    color: $primary-color;
    transform: scale(1.3);
}
.s1:hover ~ a {
    color: $primary-color;
}
.s2:hover ~ a {
    color: $primary-color;
}
.s3:hover ~ a {
    color: $primary-color;
}
.s4:hover ~ a {
    color: $primary-color;
}
.s5:hover ~ a {
    color: $primary-color;
}
.wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
  
  